.App {
  text-align: center;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

.App-logo {
	margin-top: 10px;
    animation: App-logo-bounce 0.3s ease infinite alternate;
  }


.App-header {
  //background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@keyframes App-logo-bounce {
   from {transform: translateY(0);}
   to   {transform: translateY(-5px);}
}
